// Colors

// Five main colors
$battleship-grey: #7E8785;
$light-coral: #FF8585;
$medium-champagne: #EDE5B2;
$timberwolf: #D9D7CE;
$middle-blue-green: #77C9BA;

// Mundane colors
$white: #fff;
$black: #000;