// Colors

// Base - Yellow

$green-yellow-crayola: #fdf093;
$corn: #ffed72;

// Yellow - Not used yet
$blond: #fff6ba;
$yellow-crayola: #feef81;

// Base - Red
$english-vermillion: #d24444; 
$orange_red_crayola: #ff5c5c;
$light-coral:#ff8585;
$light-pink: #f7b0b0;

// Red - Not used yet
$bittersweet: #ff6666;

// Not sure
$timberwolf: #d9d7Ce;
$old-lace : #fefaeb; // Backgrund

// Mundane colors
$white: #fcfcfc;
$black: #191919; 


