// html, body, ul, p

html {
  box-sizing: border-box;
  background-color: $old-lace;
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}

body {
  box-sizing: border-box;
  background-color: $white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
