.navbar-top {
  background-color: $light-coral;
  border-bottom: 2.5px solid $light-pink;
  z-index: 10000;
}

// .nav-collapse-top {
//   justify-content: flex-end;
// }

.nav-title-top {
  color: $orange_red_crayola !important;
  font-family: $header;
  font-size: 2.5em !important;
  text-shadow: 1px 1px $english-vermillion;
  padding: 0;
}

.nav-logo-top {
  height: 3.5em;
  margin-right: 1em;
}

// .items-far-right {
//   justify-content: flex-end; 77C9BA
// }

// .place-toggle-button {
//   position: absolute;
//   right: 5px;
//   top: 2.5px;
// }

.test {
  text-rendering: optimizeLegibility;
}