.navbar-top {
  background-color: $light-coral;
  border-bottom: 1px solid #fff;
  z-index: 10000;
}

// .nav-collapse-top {
//   justify-content: flex-end;
// }

// .nav-title-top {
//   font-family: 'Orbitron', 'sans-serif';
//   color: #fff !important;
//   text-shadow: 2px 2px #000;
// }

.nav-logo-top {
  height: 10em;
}

// .items-far-right {
//   justify-content: flex-end;
// }

// .place-toggle-button {
//   position: absolute;
//   right: 5px;
//   top: 2.5px;
// }